{% include "symbols.njk" %}
<header class="bg-slate-800">
    <div class="flex flex-row items-center justify-between container mx-auto">
        <a href="/" class="p-4 inline-block">
            <svg class="fill-white h-10 w-auto" viewBox="0 0 626.67 307.09">
                <use xlink:href="#nunja" />
            </svg>
        </a>
        <nav class="text-white {% if page.name == "about" %}text-slate-600{% endif %} p-4">
            <a href="about.html">About</a>
        </nav>
    </div>
</header>

